.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  min-width: 320px;
  width: 100vw;
}

.t2 {
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  text-align: left;
}
