<section class="main">
 <div class="container">
  <div class="main-container--flex">
   <div class="main-container--flex-left">
    <h1 class="main-title">
     Натуральні матеріали для довговічних рішень
    </h1>
    <p class="main-text">
     Ми надійні партнери у світі пиломатеріалів.<br>
     Наші матеріали ідеально підходять для будівництва, ремонту та оздоблення.<br>
     Ми працюємо згідно з принципів якості та
     професіоналізму.
    </p>
    <a class="main-link" href="./">Консультація</a>
   </div>
   <div class="main-container--flex-right">
    <img class="main-img" src="./img/main/main_2x.jpg" alt="main_photo">
   </div>


  </div>


 </div>


</section>